@model IEnumerable<Vault.Data.ViewModels.CabinetModel>

@Styles.Render("~/Content/css")
<div class="pageContainer">
  <button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Cabinet")'">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Cabinet
  </button>

  <div class="row">
    <table class="table table-bordered table-striped sortable">
      <thead>
        <tr>
          <th id="triggerId">@Html.DisplayNameFor(x => x.Id)</th>
          <th id="triggerName">@Html.DisplayNameFor(x => x.Name)</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var i in Model)
      {
          <tr>
            <td>@Html.DisplayFor(x => i.Id)</td>
            <td>@Html.DisplayFor(x => i.Name)</td>
          </tr>
        }
      </tbody>
    </table>

  </div>
</div>